* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
}

a {
  color: #E5E7EB;
  text-decoration-line: none;
}

.header,
.hero,
.footer {
  background-color: #1F2937;
}

.content {
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0; /* The horizontal padding is specified further down the 
                      stylesheet. */
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 24px;
}

.hero {
  display: flex;
  gap: 64px;
  padding: 96px 0 112px;
}

.hero-left,
.hero-right {
  flex: 1;
}

.hero-main-text {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 16px;
}

.hero-sign-up,
.cta-sign-up {
  background-color: #3882F6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 36px;
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  color: #fff;
}

.information-heading {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 48px 0;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 100px;
}

.card {
  width: 175px;
}

.card-image {
  border: 4px solid #3882F6;
  border-radius: 16px;
  height: 175px;
  width: 175px;
  margin-bottom: 16px;
}

.card-description {
  color: #666;
  font-size: 18px;
  text-align: center;
}

.quote-wrapper {
  background-color: #E5E7EB;
  padding: 100px 0;
  margin-bottom: 100px;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 4px;
}

.author {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 40px;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  padding: 42px 120px;
  background-color: #3882F6;
  border-radius: 8px;
  margin-bottom: 100px;
}

.cta-main-text,
.cta-secondary-text {
  color: #fff;
}

.cta-main-text {
  font-size: 24px;
  font-weight: bold;
}

.cta-secondary-text {
  font-size: 18px;
}

.cta-sign-up {
  border: 2px solid #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  color: #fff;
}

/* Horizontal padding and margin are more complex problem to solve, given the 
   design. Thus, the end of the stylesheet contains the solution. */
.header,
.hero {
  padding-left: max(16px, calc((100vw - 1000px) / 2));
  padding-right: max(16px, calc((100vw - 1000px) / 2));
  min-width: 1000px;
}

.quote-wrapper {
  padding-left: max(16px, calc((100vw - 800px) / 2));
  padding-right: max(16px, calc((100vw - 800px) / 2));
  min-width: 800px;
}

.cta {
  margin-left: max(16px, calc((100vw - 1000px) / 2));
  margin-right: max(16px, calc((100vw - 1000px) / 2));
  min-width: 1000px;
}